@import '~office-ui-fabric-react/dist/sass/References.scss';

.container {
    min-width: 1px;
}

.topMenu {
    margin-bottom: 1em;
    
    :global(.ms-OverflowSet-item):hover i {
        color: inherit !important;
    }
}

.content {
    padding: 0 14px 0 24px;
}