@import '~@fluentui/react/dist/sass/_References.scss';

.parentStroke {
    fill: none;
    stroke: $ms-color-neutralTertiaryAlt;
    stroke-width: 2px;
    stroke-dasharray: 3, 3;
    position: absolute;
    overflow: visible;
}
