@import '~@fluentui/react/dist/sass/References.scss';

.container {
    text-align: center;
    height: 25px;
    font-size: .9em;
    width: 100%;
    border: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:focus {
        outline: 3px solid $ms-color-neutralPrimary;
    }
}

:global(.sp-processflow-na) {
    background-color: #ECF0F1;
}

:global(.sp-processflow-planned) {
    color: white;
    background-color: #E74C3C;
}

:global(.sp-processflow-on-going) {
    color: white;
    background-color: #F1C40F;
}

:global(.sp-processflow-completed) {
    color: white;
    background-color: #2ECC71;
}
