@import '~office-ui-fabric-react/dist/sass/References.scss';

.container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: .3em;
}

.userTitle {
    font-size: .8em;
    overflow: hidden;
    text-overflow: ellipsis;
}