@import '~@fluentui/react/dist/sass/_References.scss';

.container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0 .5em 0 .5em;

    &:hover {
        background-color: "[theme: themeLighterAlt, default: #e3afb2]";
    }
}

.fileControlBar {
    font-size: .65em;
    display: flex;
    flex-flow: row nowrap;
}

.fileControlBarButton i {
    font-size: .9em;
}

.fileLabel {
    display: flex !important;
    flex-flow: row nowrap;
    gap: 4px;
    flex-grow: 2;
    overflow: hidden;
}
