.container {
	padding-top: .5em;
	padding-bottom: .5em;
}

.option {
	display: block;
	padding-left: .25em;
	text-decoration: underline;
	color: "[theme: black, default: #000000]";
	cursor: pointer;

	&.selected {
		background-color: "[theme: themePrimary, default: #a4262c]";
		color: "[theme: white, default: #ffffff]";
	}
}
