@import '~office-ui-fabric-react/dist/sass/References.scss';

.timer {
    min-width: 300px;
    min-height: 100px;
}

.timerHeader {
    background-color: "[theme: themePrimary, default: #3c3c3c]";
    color: "[theme: white, default: #ffffff]";
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: .5em;
    min-height: 1.3em;
    padding: .3em 0 .3em .5em;
}

.timerHeaderMoveHandle {
    cursor: move;
}

.timerHeaderIcon {
    color:  "[theme: white, default: #ffffff]";
    max-height: 1.5em;
    max-width: 1.5em;

    i {
        font-size: .8em;
    }
}

.timerBox {
    box-shadow: $ms-depth-shadow-16;
}
