@import '~@fluentui/react/dist/sass/_References.scss';

.container {
    border: 1px solid;
    border-color: '[theme: themePrimary, default: #eaeaea]';
    overflow: hidden;
    background-color: '[theme: white, default: #000000]';

    .content {
        padding: 0.2em 0.5em;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }
    
        /* Track */
        &::-webkit-scrollbar-track {
            background: '[theme: neutralLighter, default: #f4f4f4]';
        }
    
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: '[theme: neutralSecondary, default: #212121]';
            border-radius: 6px;
        }
    
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }
}

.editable {
    box-shadow: $ms-depth-shadow-4;
}

.header {
    background-color: '[theme: themePrimary, default: #eaeaea]';
    color: '[theme: white, default: #eaeaea]';
    padding: 0.2em 0;
    height: 32px;

    .headerContent {
        margin-left: 0.5em;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
    }

	.text {
		color: '[theme: white, default: #ffffff]';
	}

    .openNewTabButton {
		color: '[theme: white, default: #eaeaea]';
        min-height: 1px;

		&:hover {
			color: '[theme: black, default: #000000]';
		}
    }
}
