@import '~office-ui-fabric-react/dist/sass/References.scss';

.container {
    border: 1px solid #a6a6a6;
    border-radius: 2px;
    background-color: #ffffff;
    box-sizing: border-box;
    margin-top: 8px;
    transition: border 0.2s ease-in-out;

    & :global(.ProseMirror) {
        outline: none;
        padding: 4px;
    }

    &:focus-within {
        border: 2px;
        border-style: solid;
    }

    &.empty :global(.ProseMirror) p:not(:focus-within)::after {
        content: '@mention or/and comment';
        position: absolute;
        color: #a6a6a6;
        top: 4px;
        left: 4px;
    }

    p {
        margin: 2px 0;
    }
}

.mention {
    border: 1px solid grey;
    padding: 0 3px 0 2px;
    font-weight: bold;
    border-radius: 6px;
    display: inline-block;
}

.sendRow {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
}
