@import '~office-ui-fabric-react/dist/sass/References.scss';

.container {
    min-width: 1px;
}

.checkboxRow {
    display: flex;
    flex-flow: row nowrap;
    font-weight: bold;
}

.checkboxChecked label > div {
    background-color: '[theme: themePrimary, default: #a4262c]';
}

.checkboxUnhecked label > div {
    background-color: '[theme: white, default: #ffffff]';
}
