.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: center;
    min-width: 290px;
}

.item {
    background-color: transparent;
    border: none;
    outline: none;
}

.isSelected {
    background-color: "[theme: neutralTertiaryAlt, default: #c8c8c8]";
}