@import '~office-ui-fabric-react/dist/sass/References.scss';

.container {
    & input[type="file"] {
        display: none;
    }
}

.fileList {
    margin-top: 1em;
    margin-left: 1em;
    display: flex;
    flex-flow: column nowrap;
    gap: .4em;
}

.fileDeleteButton {
    width: 1.1em;
    height: 1.1em;

    & i {
        font-size: .9em;
    }
}
