@import '~office-ui-fabric-react/dist/sass/References.scss';

.round-button {
    border-radius: 20px;
    background-color: "[theme: neutralTertiaryAlt, default: #3c3c3c]";
    border: 1px solid;
    border-color: "[theme: neutralQuaternary, default: #666666]";
    outline: none;
    margin-right: .8em;
    width: 30px;
    height: 30px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    transition: background-color .2s ease-out;
    font-size: 1.2em;
    position: relative;

    &__parent-stroke {
        position: absolute;
        top: 30px;
        left: 0px;
    }

    &:hover {
        background-color: "[theme: neutralTertiary, default: #666666]";
    }

    &.round-success-button {
        &:hover {
            background-color: $ms-color-greenLight;
        }
    }
}

.action-buttons-container {
    opacity: 0.5;
    transition: opacity .2s;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;

    &:hover {
        opacity: 1;
    }

    &__action-button {
        width: 1.5em;
        height: 1.5em;
        margin-right: .5em;
        
        i {
            font-size: 1em;
        }
    }
}

.callout {
  padding: .5em;
}

.center-content {
    display: flex;
    flex-flow: column nowrap;
    align-items:  stretch;
}

.callout-progress {
    min-width: 200px;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

.teamCell {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    min-height: 40px;
    width: 100%;
}

.progress {
    position: relative;
    width: 100%;
    color: "[theme: white, default: #fff]";
    background-color: "[theme: neutralQuaternaryAlt, default: #fff]" !important;
    border: 1px solid lightgray;
    text-align: start;

    &-value {
        position: relative;
        z-index: 2;
        margin-left: 2px;
        margin-top: 2px;
    }

    &-bar {
        position: absolute;
        background-color: "[theme: themeSecondary, default: #a4262c]";
        height: 100%;
        z-index: 1;
        top: 0;
        left: 0;
        min-width: 3px;
    }

    .disabled {
        color:  "[theme: neutralTertiary, default: #f4f4f4]";
        background-color:  "[theme: neutralLight, default: #f4f4f4]";
    }
}

.priority {
    min-width: 100px;
}

.responsible_button {
    width: 100%;
}

.responsible {
    max-height: 400px;
    width: 200px;
}

.responsible_user {
    padding: .3em;
    cursor: pointer;
    display: block;
    background: none;
    border: none;
    width: 100%;

    &:hover {
        background-color: "[theme: neutralLighter, default: #f4f4f4]";
    }
}

.button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: start;
}