@import '~@fluentui/react/dist/sass/_References.scss';

.container {
    min-height: 100px;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
}
