@import '~@fluentui/react/dist/sass/References.scss';

.container {
    width: 100%;
}

.topHeader {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.comment {
    padding: .2em 0;
    font-style: italic;
    white-space: pre;
    background-color: "[theme: themeLighterAlt, default: #f0d3d4]";
    padding: 2px 8px;
}