@import '~office-ui-fabric-react/dist/sass/References.scss';

.container {
    min-width: 1px;
}

.groupHeader {
    background-color: "[theme: themeTertiary, default: #c86c70]";
    color: "[theme: white, default: #000000]";

    & > div:hover {
        background-color: "[theme: themeSecondary, default: #c86c70]" !important;
        color: "[theme: white, default: #000000]";
    }
}

.groupHeaderTitleContainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    min-width: 500px;
}

.groupHeaderIcon {
    color: "[theme: white, default: #000000]";
    max-width: 20px;

    &:hover {
        color: "[theme: themePrimary, default: #a4262c]";
    }
}

.tableHeaderText {
    font-size: .8em;
}