@import '~office-ui-fabric-react/dist/sass/References.scss';

.container {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
    align-items: stretch;
    justify-content: stretch;
}

.column {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    gap: .8em;
}
