@import '~@fluentui/react/dist/sass/_References.scss';

.container {
    border-left: 1px solid;
    border-color: "[theme: neutralQuaternary, default: #f4f4f4]";
    padding: 1em 1em 0 1em;
    background-color: "[theme: neutralLighter, default: #f4f4f4]";
    position: relative;
}
