@import '~office-ui-fabric-react/dist/sass/References.scss';

.container {
    min-width: 1px;
}

.header {
    text-align: center;
    font-weight: bold;
    margin-bottom: .5em;
}

.monthCalendar {
    :global(button[role='gridcell'].ms-DatePicker-day--highlighted), :global(td.ms-DatePicker-day--highlighted) {
        background-color: "[theme: themePrimary, default: #a4262c]" !important;
        color: "[theme: white, default: #ffffff]";
    }
}

.calendarContainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: center;
}
