@import '~@fluentui/react/dist/sass/_References.scss';

.container {
    min-width: 1px;
}

.header {
    text-align: center;
    font-weight: bold;
    margin-bottom: .5em;
}

.monthCalendar {
    :global(button[role='gridcell'].ms-DatePicker-day--highlighted), :global(td.ms-DatePicker-day--highlighted) {
        background-color: "[theme: themePrimary, default: #a4262c]" !important;
        color: "[theme: white, default: #ffffff]";
    }
}

.calendarContainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: center;
}

.options {
	padding: 1em 0;
	background-color: "[theme: neutralLighter, default: #f4f4f4]";
}

.overdue {
	& :global(.header) {
		font-size: 1.5em;
		font-weight: 500;
	}

	& :global(.header-expanded) {
		margin-bottom: .5em;
	}

	padding: 1em 0;
	margin-bottom: 1em;
	background-color: "[theme: neutralLighter, default: #f4f4f4]";
	width: 100%;
	display: table;
}
