@import '~office-ui-fabric-react/dist/sass/References.scss';

.container {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 0.5em;
    min-width: 1px;
}
