@import '~@fluentui/react/dist/sass/_References.scss';

.container {
    min-width: 1px;
}

.openButtons {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: 1em;
	margin-bottom: .5em;
}
