@import '~office-ui-fabric-react/dist/sass/References.scss';

.container {
    min-width: 1px;

    & input[type="file"] {
        display: none;
    }
}

.attachment {
    display: flex;
    background-color: "[theme: neutralLighter, default: #f4f4f4]";
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 4px;
}

.attachment:focus {
    background-color: "[theme: themePrimary, default: #a4262c]";
    color: "[theme: white, default: #ffffff]";
    
    & .attachmentIcon {
        color: "[theme: white, default: #ffffff]";
    }

    & .attachmentIcon:hover {
        background-color: "[theme: themePrimary, default: #a4262c]";
    }
}

.attachmentText {
    display: block;
    flex-grow: 2;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.attachmentPill {
    padding: 0 16px;
    border-radius: 20px;
    gap: .5em;
}