@import '~office-ui-fabric-react/dist/sass/References.scss';
$buttonSide: 30px;

.container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: start;
    cursor: pointer;
}

.titleCell {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.titleText {
    overflow: hidden;
}

.titleTextFinished {
    text-decoration: line-through;
}

.titleCountIcons {
    min-width: 50px;
    display: flex;
    flex-flow: row nowrap;
    gap: .5em;
}

.subtaskPill {
    white-space: pre;
}