.pill-container {
    display: flex;
    flex-wrap: nowrap;
    cursor: pointer;

    &__inner {
        cursor: pointer;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        box-sizing: border-box;
        display: flex;
        width: 100%;
        margin: 4px;
        padding: 4px 8px 5px 8px;
        border: 1px solid;
    }
}

:global(.sp-cip-pill-low), :global(.sp-cip-pill-finished) {
    background-color: #caf0cc;
    border-color: #437406;
    color: #437406;
}

:global(.sp-cip-pill-new) {
    background-color: #d4e7f6;
    color: #0068b8;
    border-color: transparent;
}

:global(.sp-cip-pill-on-hold) {
    background-color: #ffebc0;
    color: #8f6200;
    border-color: transparent;
}

:global(.sp-cip-pill-in-progress) {
    background-color: #80c6ff;
    color: #004e8c;
    border-color: #004e8c;
}

:global(.sp-cip-pill-waiting-for-3rd-party) {
    background-color: #e180ff;
    color: #60356e;
    border-color: #a15ab8;
}

:global(.sp-cip-pill-waiting-for-requester) {
    background-color: #42f5a1;
    color: #000000;
    border-color: #34c782;
}

:global(.sp-cip-pill-blocked), :global(.sp-cip-pill-high) {
    background-color: #f5cccf;
    color: #aa272b;
    border-color: #aa272b;
}

:global(.sp-cip-pill-cancelled) {
    background-color: #d13438;
    color: #ffffff;
    border-color: #ffffff;
}

:global(.sp-cip-pill-none) {
    background-color: #e5e5e5;
    color: #666666;
    border-color: #666666;
}

:global(.sp-cip-pill-medium) {
    background-color: #ffebc0;
    color: #8f6200;
    border-color: #8f6200;
}

.disabled {
    background-color: transparentize($color: lightgray, $amount: .7);
    color: transparentize($color: gray, $amount: .5);
    border-color: gray;
}
