@import '~office-ui-fabric-react/dist/sass/References.scss';

.container {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: flex-start;
    gap: 1em;
    max-height: 60vh;
    overflow: auto hidden;
}

.column {
    max-width: 24%;
    min-width: 24%;
    flex: 1;
    background-color: "[theme: neutralLighter, default: #eeeeee]";
    border: 1px solid "[theme: neutralLight, default: #eeeeee]";
    padding-bottom: 1em;
    border-radius: 5px;
    overflow: auto;

    & .columnLabel {
        padding: .5em 0 1em 0;
        text-align: center;
        font-weight: bold;
    }

    & .columnBody {
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        justify-content: flex-start;
        gap: .5em;
        padding: 4px 8px;
    }
}

