@import '~office-ui-fabric-react/dist/sass/References.scss';

.header {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1em;
}

.headerDropdown {
    min-width: 150px;
}

.body {
    display: block;
}