@import '~office-ui-fabric-react/dist/sass/References.scss';

.description {
    align-self: flex-start;
    white-space: break-spaces;
    margin-bottom: 4px;
}


.label {
    align-self: flex-start;
    font-weight: bold;
}
