@import '~office-ui-fabric-react/dist/sass/References.scss';

.commandBar {
    margin-top: 1em;
    margin-left: 1em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}