@import '~office-ui-fabric-react/dist/sass/References.scss';

.container {
    width: 100%;
    padding: 4px;
    border-spacing: 4px;
}

.cell20 {
    width: 20%;
}

.cell10 {
    width: 10%;
}

.cell5 {
    width: 5%;
}

.paddedCell {
    padding-left: 8px;
}

.dateGroup {
    margin-bottom: .5em;
}

.groupText {
    margin-bottom: .5em;
    font-weight: bold;
    text-decoration: underline;
}