@import '~office-ui-fabric-react/dist/sass/References.scss';

.container {
    margin-left: 1em;
}

.dateGroup {
    margin-bottom: .5em;
}

.groupText {
    margin-bottom: .5em;
    font-weight: bold;
    text-decoration: underline;
}