@import '~office-ui-fabric-react/dist/sass/References.scss';

.container {
    width: 100%;
    padding: 4px;
    border-spacing: 0px;
}

.cell20 {
    width: 20%;
}

.cell10 {
    width: 10%;
}

.cell5 {
    width: 5%;
}

.paddedl5 {
    padding-left: .5em;
}

.row {
    margin-left: 1em;

    &:hover {
        background-color: '[theme: neutralLighter, default: #c86c70]';
    }
}

.paddedCell {
    padding-left: 8px;
}

.dateGroup {
    margin-bottom: .5em;
}

.groupText {
    margin-bottom: .5em;
    font-weight: bold;
    text-decoration: underline;
}
