/*
  Your use of the content in the files referenced here is subject to the terms of the license at http://aka.ms/fabric-assets-license
*/
.container {
  min-width: 1px;
}

.checkboxRow {
  display: flex;
  flex-flow: row nowrap;
  font-weight: bold;
}

.checkboxChecked label > div {
  background-color: "[theme: themePrimary, default: #a4262c]";
}

.checkboxUnhecked label > div {
  background-color: "[theme: white, default: #ffffff]";
}