.formContainer {
  background-color: "[theme:neutralLighterAlt, default:#f8f8f8]";
}

.msdsForm {
  padding: 0.5rem;
  padding-left: 2.5em;
}

.headerText {
  color: #ffffff;
  text-transform: uppercase;
}

.msdsRow {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.msdsGap1 {
  gap: 2em;
}
