$breakpoint: 768px;

.formContainer {
    background-color: '[theme:neutralLighterAlt, default:#f8f8f8]';
}

.msdsForm {
    & > div:first-child {
        @media (min-width: $breakpoint) {
            display: flex;
            flex-flow: row nowrap;
            align-items: stretch;
            justify-content: flex-start;
        }
    }

    & > div > div:first-child {
        padding-top: 0.5em;
        flex-basis: 80%;
    }
}

.commentSection {
    flex-basis: 20%;

    padding-top: 1.5em;
}

.headerText {
    color: #ffffff;
    text-transform: uppercase;
}

.msdsRow {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.msdsGap1 {
    gap: 2em;
}

.padLeft {
    padding-left: 2.5em;
}
