@import '~@fluentui/react/dist/sass/_References.scss';

.container {
    color: "[theme: black, default: #000]";
    background-color: "[theme: neutralLighterAlt, default: #f8f8f8]";
    font-weight: bold;
    padding: 0 2px;
    cursor: pointer;
}

.icon {
    margin-left: .4em;
}