@import '~@fluentui/react/dist/sass/References.scss';
$break: 750px;

.tasks {
    min-height: 500px;
    padding: 0 2em 5em 2em;

    .commandbar {
        display: flex;
        justify-content: center;
        align-items: center;
        row-gap: 1em;
        margin-bottom: 2em;
        flex-flow: column nowrap;

        @media screen and (min-width: $break) {
            flex-flow: row nowrap;
            align-items: flex-end;
        }

        &_left {
            @media screen and (min-width: $break) {
                flex: 1 2;
            }
        }

        &_middle {
            @media screen and (min-width: $break) {
                flex: 2 1;
            }
            align-self: center;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
        }

        &_right {
            @media screen and (min-width: $break) {
                flex: 1 2;
            }
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
        }
    }

    .selector {
        padding: 1em 0;
        display: flex;
        flex-flow: row nowrap;
    }
    
    .userSelector {
        margin: 0 auto;
        max-width: 200px;
    }

    .container {
        display: flex;
        flex-flow: row wrap;
        gap: 1em;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    
    .taskContainer {
        color: $ms-color-neutralPrimary;
        display: flex;
        flex-flow: column;
        min-width: 333px;
        align-items: stretch;
        padding: 1em;
        border-left-color: '[theme: themePrimary, default: #0078d7]';
        background-color: '[theme: neutralLighterAlt, default: #fbf4f4]';
        align-self: stretch;

        & > * + * {
            margin-top: 0.7em;
        }
    }

    .noTasks {
        height: 6em;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        color: '[theme: neutralSecondaryAlt, default: #fbf4f4]';
    }
}
