@import '~office-ui-fabric-react/dist/sass/References.scss';

.container {
    display: flex;
    flex-flow: column nowrap;
    background-color: "[theme: themeLighterAlt, default: #f8f8f8]";
    border: 1px solid "[theme: neutralLighter, default: #f8f8f8]";
}

.itemBodyOuter {
    display: flex;
    flex-flow: column nowrap;
    padding: 8px;
}

.itemBody {
    background-color: "[theme: primaryBackground, default: #ffffff]";
}

.itemBodyCollapsible {
    overflow: hidden auto;
    transition: max-height .1s linear;
}

.itemDescriptionButton {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    flex-flow: row nowrap;
    gap: 8px;
    user-select: none;
}

.itemHeader {
    background-color: "[theme: themePrimary, default: #a4262c]";
    color:  "[theme: white, default: #ffffff]";
    padding: 4px 8px;
    min-height: 30px;
    line-height: 30px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.titleButton {
    color: "[theme: white, default: #ffffff]";
}

.propTable {
    font-size: .9em;
    border-collapse: collapse;

    & td {
        border-bottom: 1px solid "[theme: neutralTertiaryAlt, default: #a4262c]";
    }

    & td {
        padding: 0 1em 0 0;
    }

    & td button {
        font-size: .9em;
    }

    & td.deleted {
        text-decoration: line-through;
    }

    & td.deleted:nth-child(2) {
        visibility: hidden;
    }
}

.propTableNewFieldButton {
    &, & i {
        font-size: 0.9em;
    }
}

